<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Error</title>
    </head>
    <body>
        <div style="font-size: 50px;">Sorry!</div>
        <p style="font-size: 30px;">{{ error }}</p>
        <img style="width: 30vw; height: 30vw;" src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExcDJoc3FsbWJicW00bDZvdDFrN3NxdmY0eG9mbDVpa2oxOXlwaGl4bCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/8FpVTqTY826bmwJIvc/giphy.webp">
        <div style="font-size: 90px;">{{ code }}</div>
    </body>
    <style>
        body {
            color: #28a745;
            background-color: black;
            text-align: center;
        }
        p, div {
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</html>