{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ playlist.name }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        
        <link href="{% static 'booklist/playlist.css' %}" rel="stylesheet">
        <script src="{% static 'booklist/playlist.js' %}"></script>
    </head>
    <body>
        <div id="edit_nav_bar_inv_bg">
            <ul>
                <li class="float_left" id="back_btn_play">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                    </svg>
                </li>
                <li class="float_right" id="edit_btn_play">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                    </svg>
                </li>
            </ul>
        </div>
        <div id="bground_to_hide_top" style="background-image: url({{playlist.cover_img}});">
            <div id="div_for_backdrop_blur">
                {{ playlist.name }}
            </div>
        </div>
        <main>
        {% for book in playlist.books.all %}
            <div class="each_playlist_row" id="book_no_{{ book.id }}">
                <div class="subdiv_of_row" id="book_img">
                    <a href="/book/{{ book.id }}">
                        <img src="{{ book.image }}" alt="{{ book.title }}">
                    </a>
                </div>

                <div class="subdiv_of_row">
                    <div id="book_title">
                        <a href="/book/{{ book.id }}">
                            {{ book.title }}
                        </a>
                    </div>
                    <div id="book_genres">
                        {% for genre in book.genres.all %}
                        <span class="badge {{ genre.color_class }}">{{ genre.genre }}</span>
                        {% endfor %}
                    </div>
                    <div id="book_rating">
                        {{ book.rating }}
                    </div>
                </div>

                <div class="subdiv_of_row" id="book_description">
                    <span class="trunc_desc">
                        {{ book.description | truncatechars:480 }}
                        <span class="read_more_btns">Read more</span>
                    </span>
                    
                    <span class="full_desc">{{ book.description }}</span>
                </div>
                <div class="subdiv_of_row" id="book_delete">
                    <div data-bookid="{{ book.id }}" data-playlistid="{{ playlist.id }}" class="delete_btns">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                        </svg>
                    </div>
                </div>
            </div>
        {% empty %}
            <div style="display: grid; width: 100%; height: 100%; place-items: center; text-align: center;">
                This playlist is empty.
            </div>
        {% endfor %}
        </main>
    </body>
</html>