body {
    background-color: black;
    color: white;
}

#nav_bar_top {
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
}

.options_nav {
    padding: 20px;
    cursor: pointer;
}

#option_friends {
    font-weight: bold;
    text-decoration: underline;
}

#body_find {
    display: none;
}

.profiles_section {
    margin-left: 5vh;
    margin-right: 5vh;
    width: 90vw;
    display: grid;
    grid-template-columns: 20vw 50vw 30vw;
    height: 10vh;
}

.pfp_img {
    width: 5vw;
    height: 5vw;
    max-height: 9vh;
    max-width: 9vh;
}

#pfp_div {
    display: grid;
    text-align: center;
    place-items: center;
}

#username_div {
    margin: auto;
    margin-left: 0px;
    font-weight: bold;
}

#username_div:hover {
    text-decoration: underline;
}

#username_div > a {
    color: white !important;
    font-weight: bold;
}

.text_center {
    text-align: center;
}

#edit_nav_bar_inv_bg {
    height: 1px;
    width: 1px;
    position: absolute;
    background-color: transparent;
    color: white;
    z-index: 2;
    right: 0;
    left: 0;
    top: 0;
}

.float_left {
    float: left;
    display: inline;
    margin-top: 2vh;
    cursor: pointer;
}

#searchbar {
    border-radius: 12px;
    padding-left: 20px;
    width: 40vw;
    height: 5vh;
    margin-bottom: 5vh;
}

.centered {
    text-align: center;
}